In [1]:
import numpy as np
import pandas as pd
import joblib

In [2]:
support = joblib.load('support_vector.sav')
forest = joblib.load('random_forest.sav')
imputer = joblib.load('imputer.sav')
encoder = joblib.load('encoder.sav')

In [3]:
df = pd.read_csv('clean.csv')

In [4]:
df.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket
0,34.68,85.16,12.30,39.38,43.73,13.59,1.27,7.30,43.88,0.52,2.73,106.0,Moderate
1,81.77,NaN,15.46,51.42,NaN,NaN,1.14,4.75,29.14,1.50,3.11,153.0,Moderate
2,66.80,NaN,6.10,26.68,21.20,30.02,1.04,4.55,43.19,0.34,2.26,114.0,Moderate
3,78.59,142.62,11.17,40.02,39.80,19.75,1.05,6.32,66.64,0.85,2.80,179.0,Moderate
4,66.52,215.41,16.14,26.75,28.10,NaN,0.48,7.76,49.54,1.99,6.00,173.0,Moderate

In [5]:
df.shape

(7800, 13)

In [6]:
df.isnull().sum()

PM2.5          219
PM10          2711
NO             127
NO2             96
NOx            580
NH3           2687
CO             171
SO2            167
O3             282
Benzene        938
Toluene       1597
AQI              0
AQI_Bucket       0
dtype: int64

In [7]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI
count,7581.000000,5089.000000,7673.000000,7704.000000,7220.000000,5113.000000,7629.000000,7633.000000,7518.000000,6862.000000,6203.000000,7800.000000
mean,92.461211,141.878585,22.824491,34.884229,39.340447,24.441594,4.565282,18.466599,34.987111,3.960275,12.647758,235.017949
std,89.793136,124.206608,28.189481,32.130824,38.288321,23.730025,11.737936,23.869982,23.559963,13.026403,21.485245,206.585606
min,0.160000,0.030000,0.030000,0.020000,0.000000,0.040000,0.000000,0.040000,0.010000,0.000000,0.000000,13.000000
25%,27.810000,43.650000,5.950000,12.027500,13.277500,8.180000,0.560000,6.060000,18.522500,0.270000,1.140000,77.000000
50%,63.670000,102.590000,11.820000,24.955000,27.045000,16.960000,1.080000,10.310000,30.100000,1.680000,5.110000,200.500000
75%,124.590000,203.940000,28.450000,48.015000,53.087500,34.760000,2.030000,18.860000,45.510000,4.110000,16.020000,339.000000
max,914.940000,917.080000,246.660000,362.210000,293.100000,309.040000,175.810000,186.080000,257.730000,455.030000,454.120000,2049.000000

In [8]:
x = df.drop('AQI_Bucket', axis = 1)
y = df['AQI_Bucket']

In [9]:
x = imputer.transform(x)
x = pd.DataFrame(x, columns = df.columns[0:12])
x.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI
0,34.68,85.160000,12.30,39.38,43.730000,13.590000,1.27,7.30,43.88,0.52,2.73,106.0
1,81.77,141.502986,15.46,51.42,38.845927,24.789625,1.14,4.75,29.14,1.50,3.11,153.0
2,66.80,141.502986,6.10,26.68,21.200000,30.020000,1.04,4.55,43.19,0.34,2.26,114.0
3,78.59,142.620000,11.17,40.02,39.800000,19.750000,1.05,6.32,66.64,0.85,2.80,179.0
4,66.52,215.410000,16.14,26.75,28.100000,24.789625,0.48,7.76,49.54,1.99,6.00,173.0

In [10]:
x.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,AQI
count,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000,7800.000000
mean,92.455604,141.748040,22.826006,34.884598,39.303675,24.561486,4.565035,18.470293,34.996638,3.981626,12.747163,235.017949
std,88.523447,100.322762,27.959020,31.932459,36.837325,19.212782,11.608540,23.613048,23.130147,12.218098,19.160615,206.585606
min,0.160000,0.030000,0.030000,0.020000,0.000000,0.040000,0.000000,0.040000,0.010000,0.000000,0.000000,13.000000
25%,28.470000,70.287500,6.020000,12.177500,14.377500,12.040000,0.570000,6.130000,18.880000,0.370000,1.780000,77.000000
50%,66.725000,141.502986,12.195000,25.240000,29.525000,24.789625,1.110000,10.500000,31.145000,2.140000,8.460000,200.500000
75%,122.117500,141.502986,28.042500,47.645000,49.992500,24.789625,2.150000,18.639147,44.560000,4.137819,13.133267,339.000000
max,914.940000,917.080000,246.660000,362.210000,293.100000,309.040000,175.810000,186.080000,257.730000,455.030000,454.120000,2049.000000

In [11]:
x.isnull().sum()

PM2.5      0
PM10       0
NO         0
NO2        0
NOx        0
NH3        0
CO         0
SO2        0
O3         0
Benzene    0
Toluene    0
AQI        0
dtype: int64

In [12]:
y = encoder.transform(y)

In [13]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = .2, stratify = y, random_state = 2)

In [14]:
prediction = support.predict(x_train)
print('Support vectore prediction :', prediction)
prediction = forest.predict(x_train)
print('Random forest prediction :', prediction)
print('Actual value :', y_train)

Support vectore prediction : [3 0 3 ... 1 2 4]
Random forest prediction : [3 0 3 ... 1 2 5]
Actual value : [3 0 3 ... 1 2 5]

In [16]:
prediction = support.predict(x_test)
print('Support vectore prediction :', prediction)
prediction = forest.predict(x_test)
print('Random forest prediction :', prediction)
print('Actual value :', y_test)

Support vectore prediction : [4 2 1 ... 4 1 2]
Random forest prediction : [4 2 1 ... 4 1 2]
Actual value : [4 2 1 ... 4 1 2]